<app-header title="Favoritos"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
    <ion-toolbar>
      <ion-title size="large">Favoritos</ion-title>
    </ion-toolbar>

  </ion-header>
</ion-content>
